autosemver==0.5.5
certifi==2020.12.5
chardet==4.0.0
Deprecated==1.2.12
dulwich==0.19.16
flake8==3.9.0
idna==2.10
importlib-metadata==3.10.0
mccabe==0.6.1
pdftotext==2.1.5
pycodestyle==2.7.0
pyflakes==2.3.1
PyGithub==1.54.1
PyJWT==1.7.1
PyPDF2==1.26.0
python-magic==0.4.22
refextract==1.1.0
requests==2.25.1
six==1.15.0
typing-extensions==3.7.4.3
Unidecode==1.2.0
urllib3==1.26.4
wrapt==1.12.1
zipp==3.4.1
